body {
	//background-image: url('../images/bg.gif');
    background-repeat: repeat;
    margin-top: 30px;
    padding: 20px;
}
.records_list {
	margin: 0px auto;
	border-spacing: 2px;
	border: 1px solid;
	border-collapse: separate;
	
}
.records_list th {
	background-color: #ccc;
}
.records_list tr {
	background-color: #eee;
	text-align: center;
}
.navbar{
	box-shadow: 5px 5px 5px #888888;
}

#apagar{
	background-color:#ffaaaa;
}

.div{
	width: auto;
	float: left;
}
 
.inactivo{
	color: #ccc;
	background-color: #f00;
}
#div_login_logo{
	margin: 0px auto;
	width: 300px;
	height: 180px;
	text-align: center;
	background-color: #666;
	vertical-align: middle;
	border: 2px solid #000;
	padding-top: 30px;
	color: #eee;
	font-size: 20px;
}
#contenedor_login{
	margin-top: 30px;
	text-align: center;
}