{% extends 'JoeZafiroBundle:Default:base.html.twig' %}

{% block body %}
<h1>Cambio de Password</h1>
{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
{% endblock %}