body {
    font-family: Arial;
    font-size: 10px;
    margin-top: 100px;
    margin:0px;
    padding:0px;
    background-image: url('../Imagenes/bg.gif');
    background-repeat: repeat;
    color: #FFF;
}
body a{
    color: #bbf;
}

#menu th {
    color: #fff;
    border: 1px solid #aaa;
    text-align: left;
    background: #66a;
    padding: 0px;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #e6cafc;
    -webkit-box-shadow:inset 0px 1px 0px 0px #e6cafc;
    opacity: .9;
    filter: alpha(opacity=50);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    box-shadow: 0 0 2px 2px #666;
    font-size: 12px; 
    font-weight: bold;
}
#menu td {
    color: #fff;
    border: 1px solid #444;
    text-align: left;
    background: #333;
    padding: 0px;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #e6cafc;
    -webkit-box-shadow:inset 0px 1px 0px 0px #e6cafc;
    opacity: .8;
    filter: alpha(opacity=50);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    box-shadow: 0 0 1px 1px #111;
    font-size: 12px; 
    font-weight: bold;
}

#contenedor {
    float: left;
    color: #ff0000;
    width: 100%;
    height: 90%;
    margin-top: 50px;
}
#menu {
    float: left;
    height: 100%;
    width: 150px;
}
#cuerpo {
    float: left;
    height: 100%;
    width: 100%;
}
.botoncito {
    color: #fff;
    float: left;
    border: 1px solid #fff;
    width: 80px;
    height: 60px;
    text-align: center;
    background: #666;
    padding: 0px;
    padding-top: 5px;
    margin: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #e6cafc;
    -webkit-box-shadow:inset 0px 1px 0px 0px #e6cafc;
    opacity: .7;
    filter: alpha(opacity=50);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    box-shadow: 0 0 2px 2px #666;
}
#botonera{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

#resumenclientes{
    color: #fff;
    float: right;
    border: 1px solid #fff;
    text-align: left;
    background: #66a;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #e6cafc;
    -webkit-box-shadow:inset 0px 1px 0px 0px #e6cafc;
    opacity: .7;
    filter: alpha(opacity=50);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    box-shadow: 0 0 2px 2px #666;
}

.nodovpn{
    border: 1px solid #666;
    width: 200px;
    text-align: center;
    float: left;
    margin: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #333;
}

#nodoscontenedor{
    float: left;
}

table{
    font-size: 12px;
    margin: 0px auto;
}
table caption{
    font-size: 14px;
    font-style: italic;
    text-align: left;
}
table th{
    background-color: #4070ad;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
table td{
    background-color: #222;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
button {
    -moz-box-shadow:inset 0px 1px 0px 0px #a0faa0;
    -webkit-box-shadow:inset 0px 1px 0px 0px #a0faa0;
    box-shadow:inset 0px 1px 0px 0px #a0faa0;
    
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4dc213), color-stop(1, #227302) );
    background:-moz-linear-gradient( center top, #4dc213 5%, #227302 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4dc213', endColorstr='#227302');
    
    background-color:#4dc213;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #2a7026;
    display:inline-block;
    color:#ffffff;
    padding: 3px;
    padding-right: 8px;
    padding-left: 8px;
    text-decoration: none;
    border: 0px;
}
#placa {
    font-size: 20px;
}
input {
    border: #aaa 1px solid;
    COLOR: #FFF;
    BACKGROUND-COLOR: #66a;
}
select {
    border: #aaa 1px solid;
    COLOR: #333;
    BACKGROUND-COLOR: #66a;
}
.cuadro1{
    float: left;
    width:300px;
    height: 170px;
    #border: 1px solid #fff;
}
